variablestytorial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="variablestytorialFlow">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/variables" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="Welcome to variable tutorial" doc:name="Set Payload"/>
        <set-property propertyName="name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Name"/>
        <set-variable variableName="type" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="Sessionname" value="#[message.outboundProperties.name]" doc:name="Session Variable"/>
        <expression-component doc:name="Expression"><![CDATA[app.registry.put('myName',"srikanth")]]></expression-component>
        <set-payload value="#['Name '+flowVars.type+' type '+sessionVars.Sessionname +' myName '+app.registry.get('myName')]" doc:name="Set Payload"/>
    </flow>
</mule>
